body {
  margin: 0;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-form {
  width: 15vw;
  border: 1px solid rgb(128,128,128);
  border-radius: 6px;
  margin: 20vh auto;
}

.login-form > * {
  display: block;
  margin: 12px auto;
}

.login-form > .error {
  color: red;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  padding: 0 12px;
}

@media print
{
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
    margin: 0 20px;
}

/* fix bad bootstrap styling */
.navbar-right {
  margin-right: 0!important;
}